<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Song search page</title>
</head>
<body>
	<h2><u>Copyright information</u>:</h2>
	<% for(var i = 0; i < taco.copyrights.length; i++) { %>
	<div>
		<br><u>Copyright held by:</u> <%=taco.copyrights[i].text%></a>
	</div>
	<% } %>
	<div>
		<br><form action="/profile" method="POST">
			<input type="hidden" name="favorite[albumId]" value="<%= albumId %>">
			<input type="hidden" name="favorite[songTitle]" value="<%= songTitle %>">
			<button type="submit">Save to Profile</button>
		</form> 
		<h3>Key:</h3>
		<p>C: Copyright for music & lyrics</p>
		<p>P: Performance copyright for sound recording</p>
	</div>
</body>
</html>