<!doctype html>
<html>
<head>
	<title>CopyRight-On!</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<!-- Navigation Bar -->
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-left">
    <li><a href="/search">Search</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
</div>
<!-- End of Navigation Bar -->

<!-- Start of Body -->
<div class="container">

	<h1>Excellent! You've made it to the welcome page!</h1>
  <img src="http://media.giphy.com/media/SGQxAcB9j3lHa/giphy.gif">
  <a href="signup">Sign up</a>
  <p>Already have an account? Sign in <a href="login">here</a>.</p>
</div> <!-- End of Container -->
</body>
</html>