<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is the welcome page!</h1>
	<a href="signup">Sign up</a>
	<p>Already have an account? Sign in <a href="login">here</a>.</p>
</body>
</html>