<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search page</title>
</head>
<body>
	<div>
		<h1>Search for a song</h1>
	<form method="POST" action="/search">
		<input type="text" name="songTitle" placeholder="Song Title">
	</form>
	<form method="POST" action="/search">
		<input type="text" name="artist" placeholder="Artist Name">
	</form>
	<form method="POST" action="/search">
		<input type="album" name="password" placeholder="Album Name">
	</form>
	<form method="POST" action="/signup">
		<button>Submit</button>
	</form>
	<div>
</body>
</html>