<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Song search page</title>
</head>
<body>
	<div>
		<h1>Search for a song</h1>
		<form class="myForm" method="GET" action="/search">
			<input type="text" name="songTitle" placeholder="Song Title">
<!-- 			<input type="text" name="artist" placeholder="Artist"></br></br>
 			<input type="text" name="album" placeholder="Album Title"></br></br> -->
			<button>Click me</button>
		</form>
	</div>

</body>
</html>