


.profile {
   background: url("../img/profile.jpg");
   background-size: 90%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

.index {
   background: url("../img/index.jpg");
   background-size: 90%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

#body {
	font-size: 58px;
	padding-left: 100px;
	padding-top: 70px;


}

#body #indexText {
   font-size: 24px;
}

#body {
   padding-top:10px;
   padding-bottom:60px;
}

.navbar{
   background-color: black;
   color: white;
   font-size: 18px;
}

.navbar-brand {
   font-size: 18px;
}

.red {
   color: red;
}

.indent {
   padding-left: 90px;
}

.welcome {
   padding-top: 90px;
   padding-left: 110px;
   font-size: 48px;
}   

#indexText {
   font-size: 18px;
   padding-top: 10px;
   padding-left: 70px;
}

#indexTitle {
   padding-top: 90px;
   padding-left: 70px;
   font-size: 48px;
}

a {
   text-decoration: none;
   color: red;
}

@media (max-width: 700px) {
#indexText {
   font-size: 14px;
   padding-top: 0px;
   color: red;
}

#indexTitle {
   font-size: 24px;
   color: red;
} 

 /*  ul {
      font-size: 18px;
      margin-bottom: 0px;
      padding-bottom: 0px;
   }
   li {
      margin-right: 40px;
      margin-left: 40px;
   }
   body {
      background-position: 70% 100%;
      background-attachment: fixed;
      background-repeat: none;
      height:100%;
   }
   #footer {
      height: 30px;
      margin-bottom: 30px;
      padding-bottom: 0px;
   }
   h1 {
      display: none;
   }
   h2 {
      font-size: 34px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      background: black;
      display: block;
      color: red;
   }
}*/