html {
   background-color: black;
}
.profile {
   background: url("../img/profile.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

.index {
   background: url("../img/index2.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
   color: red;
}

.search {
   background: url("../img/search3.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

.login {
   background: url("../img/login.jpg");
   background-size: 90%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

.songs {
   background: url("../img/songs.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
   overflow:scroll;
}

.songShow {
   background: url("../img/songShow.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

.signup {
   background: url("../img/signup4.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

.album {
   background: url("../img/album.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}


#songShowInfo {
   padding-top: 50px;
}

#songShowInfo p {
   font-size: 18px;
}

.searchBox {
   padding: 5px 5px 30px 5px;
   text-align: center;
   background: white;
}

#body {
	font-size: 58px;
	padding-left: 100px;
	padding-top: 70px;
}

.userForm {
   padding-top: 20px;
   padding-left: 20px;
   padding-bottom: 20px;
   background-color: white;
   text-align: center;
   margin-top: 100px;
}

#body #indexText {
   font-size: 24px;
}

#body {
   padding-top:10px;
   padding-bottom:60px;
}

.navbar{
   background-color: black;
   color: white;
   font-size: 18px;
}

.navbar-brand {
   font-size: 18px;
}

.red {
   color: red;
}

.indent {
   padding-left: 90px;
}

.welcome {
   padding-top: 90px;
   padding-left: 110px;
   font-size: 48px;
}   

#indexText {
   font-size: 18px;
   padding-top: 10px;
   padding-left: 70px;
}

#indexTitle {
   padding-top: 90px;
   padding-left: 70px;
   font-size: 48px;
}

a {
   text-decoration: none;
   color: red;
}

.center-y{
   vertical-align:middle;
   margin-top: 20%;
   position: relative;
   background: black;
}

.center-x{ 
   text-align:center;
}

.albumInfo {
   padding-top: 50px;
   font-size: 18px;
}



/*Code for centering login/signup pages*/
html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 33%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
  background-color: white;
  padding: 10px 20px 10px 20px;
}
/*End of login/signup code*/

.songInfo {
   padding-top: 50px;
}

.songInfo p{
   font-size: 20px;
}

.white {
   color: white;
}

@media (max-width: 997px) {
#indexText {
   font-size: 20px;
   padding-top: 0px;
   padding-left: 2em;
   color: red;
   width: 27em;
}

#indexTitle {
   font-size: 24px;
   color: red;
   padding-left: 1.5em;
} 

.profile {
   background: black; 
   height:100%;
}

.welcome {
   background: black;
} 

.userForm {
   margin-top: 50px;
   margin-bottom: 20px;
   padding: 0px;
   background: none;
}

.songShow {
   background: url("../img/songShowSmall.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
}

.signup{
   background: url("../img/signupSmall.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
}

.album{
   background: url("../img/albumSmall4.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
}

.songs{
   background: black; 
   height:100%;
}

.songResize{
   font-size: 8px;
}

.index {
   background: url("../img/indexMiddle.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
}

@media (max-width: 540px) {
.index {
   background: url("../img/indexSmall.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
}

.search {
   background: url("../img/searchSmall2.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center; 
   height:100%;
}

#indexText {
   font-size: 16px;
   padding-top: 0px;
   padding-left: 3em;
   color: red;
   width: 24em;
}

.login {
   background: url("../img/loginSmall3.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: top; 
   height:100%;
}
