<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search page</title>
</head>
<body>
	<div>
 		Welcome, <%= User.email %>!
	</div>
	<div>
	<form method="GET" action="/logout">
			<button>Logout</button>
		</form>
	</div>
</body>
</html>