<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>S1gn vp p@g3</title>
</head>
<body>
	<div>
		<h1>Sign up</h1>
	<form method="POST" action="/signup">
		<input type="text" name="username" placeholder="Username">
	</form>
	<form method="POST" action="/signup">
		<input type="text" name="email" placeholder="Email">
	</form>
	<form method="POST" action="/signup">
		<input type="password" name="password" placeholder="Password">
	</form>
	<form method="POST" action="/signup">
		<button>Submit</button>
	</form>
	<div>
		<p>Already have an account? Sign in <a href="login">here</a>.</p>
</body>
</html>