<!doctype html>
<html>
<head>
	<title>CopyRightOn</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<!-- Navigation Bar -->
<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/">Home</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">

    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="#">Log Out</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
</div>
<!-- End of Navigation Bar -->

<!-- Start of Body -->
<div class="container">

	<h1>This is the welcome page!</h1>
	<a href="signup">Sign up</a>
	<p>Already have an account? Sign in <a href="login">here</a>.</p>
</div> <!-- End of Container -->

</body>
</html>